{% extends "layout.html" %}
{% load item_extras %}

{% block title %}Change Password | {{ block.super }}{% endblock %}

{% block content %}
    <!-- Hero Search-->
    {% hero_search %}
    <div class="gia-main gia-section">
        <div class="row column">
            <div class="gia-centered-container">
    		    <h2>Change Password</h2>

    		    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    		        {% csrf_token %}

                    {% if form.errors %}
                        <p class="errornote">
                        {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
                        </p>
                    {% endif %}

    		        {{ form.as_p }}
    		        <button type="submit" class="button" name="action">Change Password</button>
    		    </form>
    	    </div>
        </div>
    </div>
{% endblock %}
