{% extends "layout.html" %}
{% load item_extras %}

{% block title %}Confirm | {{ block.super }}{% endblock %}

{% block content %}
    <!-- Hero Search-->
    {% hero_search %}

    <div class="gia-main gia-section">
        <div class="row column">
            <div class="gia-centered-container">
    			<form method="POST">
    				{% csrf_token %}
    				{{ form.as_p }}
    				<input type="submit" class="button" value="Confirm">
    			</form>
    		</div>
    	</div>
    </div>
{% endblock %}
