{% extends "layout.html" %}
{% load item_extras %}

{% block title %}Set Password | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Hero Search-->
    {% hero_search %}

    <div class="gia-main gia-section">
        <div class="row column">
            <div class="gia-centered-container">
    		    <h2>Set Password</h2>

    		    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    		        {% csrf_token %}
    		        {{ form.as_p }}
    		        <input type="submit" class="button" name="action" value="Set Password"/>
    		    </form>
    	    </div>
        </div>
    </div>
{% endblock %}
