{% extends "layout.html" %}
{% load item_extras %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
    <!-- Hero Search-->
    {% hero_search %}

    <div class="gia-main gia-section">
        <div class="row align-center">
            <div class="small-6 columns text-center">

                <h5>Password change successful.</h5>
                <p>Go to <a href="{% url "items:dashboard" %}">Dashboard</a></p>

            </div>
        </div>
    </div>

{% endblock %}
