{% extends "layout.html" %}
{% load item_extras %}

{% block title %}OpenID Sign In | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Hero Search-->
    {% hero_search %}

    <div class="gia-main gia-section">
        <div class="row align-center">
            <div class="medium-6 columns">

                <form id="openid_login_form" class="openid_login" method="post" action="{% url 'openid_login' %}">
                	{% csrf_token %}
                	{{form.as_p}}
                	<button type="submit" class="button">Sign In</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}
