<div class="gia-section-hero gia-color-light">
    <div class="row column">
        <h4 class="text-center">What <b>FREE</b> stuff are you looking for?</h4>
        <div class="gia-hero-search">
            <form method="get" action="/search/">
                 <div class="row align-center">
                    <div class="column small-12 medium-7">
                        <input type="search" name="q" placeholder="Search by Keywords and/or Location...">
                    </div>
                    <div class="column small-12 shrink">
                        <input type="submit" value="Search" class="button button-secondary large">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
